$black: #313546;
$white: #ffffff;
$grey: #94a0a9;
$dark-grey: #87898F;
$light-grey: #bdc6d2;
$grey: #f3f4f6;
$primary-blue: #0171ad;
$primary-blue-hover: #005482;
$disabled: #bdc6d2;
$green: #299d37;

$border-radius: 4px;

$gap: 16px;

$xs: 360px !default;
$sm: 640px !default;
$md: 1024px !default;
$lg: 1240px !default;
